autopep8==2.0.1
certifi==2022.12.7
comtypes==1.1.14
distlib==0.3.6
filelock==3.9.0
numpy==1.24.1
opencv-python==4.7.0.68
Pillow==9.4.0
platformdirs==2.6.2
PyBluez==0.30
pycodestyle==2.10.0
pypiwin32==223
pyttsx3==2.90
pywin32==305
six==1.16.0
soupsieve==2.3.2.post1
tomli==2.0.1
virtualenv==20.17.1
virtualenv-clone==0.5.7
webencodings==0.5.1
